a{
text-decoration:none;
color:black;
}
h3{
font-size:32px;
color:#222;
}
#main{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:1012px;
}
#header{
	width:1012px;
	height:183px;
	border-bottom:2px solid black;
	position:relative;
}
#logo{
position:absolute;
top:20px;
width:380px;
height:150px;
}
#navigation_list{
position:absolute;
top:125px;
right:0;
}
#navigation_list li{
display:inline;
list-style-type:none;
vertical-align:middle;

}

#center_block{
position:relative;
width:851px;
height:1000px;
margin-left:auto;
margin-right:auto;
}

#column_container{
width:855px;
position:absolute;
top:355px;

}
#left{
float:left;
}
#right{
float:right;
}
#center{
	position:absolute;
	right:305px;
}
.line{
background-color:black;
width:1012px;
height:2px;
z-index:1000;
margin-left:-55px;
}
.column{
width:225px;
height:500px;
display:inline-block;

padding:10px;
text-align:center;
}
.column_picture{
	width:225px;
	height:100px;
	display:block;
}
.center_picture{
position:absolute;
top:20px;
}
.navigation_button{
padding:20px;
}
.navigation_button:hover{
	color:#068866;
	text-decoration:underline;
}

.navigation_bar{
width:5px;
display:inline-block !important; 
height:30px;
background-color:#068866;
}